section {
    background: url(../img/Training/mbg.jpg) repeat-x;
    width: 100%;
    padding: 50px 0px;

    .section {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .section_left {
            h3 {
                display: inline-block;
                color: white;
                font-size: 34px;
                margin-right: 12px;
            }

            span {
                color: #157902;
                font-size: 30px;
            }
        }

        .section_right {
            color: white;
            font-size: 14px;

            span {
                width: 18px;
                height: 16px;
                background: url(../img/index/common_bg.gif) -185px -38px;
                margin-right: 10px;
            }

            a {
                color: white;
                font-size: 14px;
            }
        }
    }
}

.section_bottom {
    width: 100%;
    background: #f2f2f2;
    height: 47px;

    .section_bottomTab {
        width: 85%;
        max-width: 1320px;
        margin: 0 auto;

        ul {
            li {
                float: left;
                height: 47px;
                line-height: 47px;
                padding: 0px 16px;
                cursor: pointer;
                font-size: 14px;
                color: #454545;
                &:hover{
                    color: #1ad202;
                }
            }

            .fix {
                background: white;

                a {
                    color: #7ec318;
                    font-weight: 600;
                }
            }
        }
    }
}

.section_bottomSec {
    width: 100%;

    .section_bottomSec_cen {
        width: 85%;
        margin: 0 auto;
        max-width: 1320px;
        .section1{
            display: none;
        }
        .section11{
            display: block;
        }
        .section1 {
            clear: both;
            h3 {
                font-size: 38px;
                color: #ff6600;
                margin: 48px 2px;
                font-weight: 500;
            }

            span {
                color: #999;
                font-size: 16px;
                margin-left: 5px;
            }

            .section1_right {
                padding: 20px 0px;

                a {
                    margin-left: 20px;
                    font-size: 14px;
                    color: #444444;
                }
            }
        }

        .section1_bottom {
            overflow: hidden;
            width: 100%;
            p{
                margin-top: 30px;
                line-height: 25px;
            }
            p:last-of-type{
                border-bottom: 1px solid #ccc;
                padding-bottom: 20px;
            }
        }
    }
}

// article
article {
    width: 100%;
    margin-top: 35px;

    .article {
        width: 85%;
        margin: 0 auto;

        .article1 {
            clear: both;

            .p_first {
                padding: 5px 17px;
                color: #999;
                font-size: 12px;
                border: 1px solid #f2f2f2;
                display: inline-block;
            }

            .article1_bottom {
                text-align: center;
                margin: 15px 0px;
                float: left;

                .p_one {
                    width: 79px;
                    height: 79px;
                    margin: 20px auto;
                    cursor: pointer;
                }

                .p_1 {
                    background: url(../img/Training/about_bg_01.gif) 0px 0px;

                    &:hover {
                        background: url(../img/Training/about_bg_01.gif) 0px -79px;
                    }
                }

                .p_2 {
                    background: url(../img/Training/about_bg_01.gif) -79px 0px;

                    &:hover {
                        background: url(../img/Training/about_bg_01.gif) -79px -79px;
                    }
                }

                .p_3 {
                    background: url(../img/Training/about_bg_01.gif) -158px 0px;

                    &:hover {
                        background: url(../img/Training/about_bg_01.gif) -158px -79px;
                    }
                }

                h3 {
                    color: #454545;
                    font-size: 18px;
                    font-weight: 100;
                    margin: 17px 0px;
                }

                .p_two {
                    color: #444444;
                    font-size: 14px;
                }
            }

            .article1_bottom2 {
                margin: 0 28%;
            }
        }
    }
}

.bg {
    width: 100%;
    height: 250px;
    background: url(../img/Training/footerbg.jpg) center top repeat-x;
    padding-bottom: 43px;
    padding-top: 10px;
    clear: both;

    .bg_cen {
        width: 85%;
        margin: 0 auto;
        color: #454545;

        h3 {
            font-size: 18px;
            padding: 45px 0px 40px;
            font-weight: 100;
        }

        p {
            a {
                display: inline-block;
                width: 32px;
                height: 32px;
            }

            .more {
                background: url(../img/Training/icons_1_32.png) 0px 0px;
            }

            .qqkj {
                background: url(../img/Training/icons_1_32.png) 0px -51px;
            }

            .xlweibo {
                background: url(../img/Training/icons_1_32.png) 0px -103px;
            }

            .txweibo {
                background: url(../img/Training/icons_1_32.png) 0px -258px;
            }

            .renren {
                background: url(../img/Training/icons_1_32.png) 0px -207px;
            }

            .chat {
                background: url(../img/Training/icons_1_32.png) 0px -1612px;
            }

            .kaixin {
                background: url(../img/Training/icons_1_32.png) 0px -311px;
            }

            .qq {
                background: url(../img/Training/icons_1_32.png) 0px -2652px;
            }

            .baidutie {
                background: url(../img/Training/icons_1_32.png) 0px -728px;
            }

            .baidu {
                background: url(../img/Training/icons_1_32.png) 0px -3123px;
            }

            .copy {
                background: url(../img/Training/icons_1_32.png) 0px -2289px;
            }
        }

        span {
            display: inline-block;
            padding-top: 20px;
            font-size: 12px;
        }
    }
}