@charset "UTF-8";

body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
td,
input,
select,
option,
textarea {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}
ol{
    list-style: none;
}
i {
    font-style: normal;
    display: inline-block;
}
span{
    display: inline-block;
}
img{
    border: 0;
}
// body{
//     min-width: 600px!important;
//     max-width: 100%;
// }
body,html{
    height: 100%;
}
// header部分
header{
    width:100%;
    background: #f3f3f3;
}
.wrap{
    width: 1320px;
    margin: 0 auto;
}
.header_top {
    overflow: hidden;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    .header_left{
        h3{
            display: inline-block;
            color: #ff5500;
            font-size: 16px;
            margin-left:16px;
        }
        span{
            color: #7ec347;
        }
    }
    .header_right{
        // float: right;
        font-size: 12px;
        color: #dcdcdc;
        a{
            font-size:12px ;
            color:#828282 ;
            margin-left: 10px;
            &:hover{
                color: #1ad202;
            }
            span{
                width:25px ;
                height:22px ;
                vertical-align: middle;
                background: url(../img/index/common_bg.gif) -22px 2px no-repeat;
            }
        }
    }
}
nav{
    width: 100%;
    background-color: white;
    background-image: url(../img/index/nav_bg2.png);
    background-repeat: no-repeat;
    background-size:100% 112%;
}
.nav{
    width: 1320px;
    margin: 0 auto;
    padding: 15px 0px;
    // overflow: hidden;
    display: flex;
    .nav_left{
        margin-right: 100px;
        cursor: pointer;
    }
    .uls{
        display: flex;
        flex: 1;
        margin-top: 10px;
        li{
            position: relative;
            padding-top: 10px;
            margin-right: 56px;
            text-align: center;
            a{
                font-size: 14px;
                color: #000;
                padding:10px;
            }
            &:hover{
                background: #1ad202;
                border-radius: 2px;
            }
            &:hover .ulLi{
                display: block;
            }
            &:hover a{
                color: white;
            }
            span{
                display: none;
            }
            .ulLi{
                position: absolute;
                left:0;
                top:58px;
                display: none;
                z-index: 999;
                .ulLi1{
                    background: rgba(126,195,24,0.9);
                    text-align: left;
                    white-space: nowrap;
                    .icon-xiangyou{
                        display: inline-block;
                        width:16px ;
                        height:16px ;
                        color: white;
                        padding-left: 5px;
                    }
                    a{
                        padding:17px 17px 17px 10px;
                        color: white;
                    }
                    &:hover{
                        background:black;
                    }
                }
            }
        }
    }
}

//返回顶部
.backTop{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background:#62aa00;
    color: white;
    font-weight: 600;
    position: fixed;
    right: 0px;
    bottom:10px;
    display: none;
    cursor: pointer;
    i{
    font-size: 45px;
        transform: rotate(-90deg);
    }
    &:hover{
        background: #1bd100;
    }
}